.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.spacer {
  flex-grow: 1;
}

.cart-badge {
  position: absolute;
  top: -2px;
  right: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 66, 79);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.logo{
  cursor: pointer;
}
